th {
  text-align: left;
}

td {
  vertical-align: top;
}

div.fragment {
	display: inline-block;
	/*width: fit-content;*/
}

div.line {
  white-space: pre;
}

code {
  font-family: monospace;      /* Standard for code */
  background-color: #f0f0f0; /* Light gray background */
  padding: 2px 4px;            /* Small internal spacing */
  border-radius: 4px;          /* Slightly rounded corners */
  color: #d14;               /* Optional: distinct color (e.g., GitHub style) */
  /* font-weight: bold;            Optional: bold text */
}